* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
}
:root {
--navbar-background: #ffffff;
--menu-font-color: #51414F;
--background-color: #f7f7f8;
--project-border-color: hsl(205, 30%, 88%);
--yellow-color: hsl(48, 93%, 53%);
}
.logo {
  width: 30%;
  margin-top: 10px;
}

/* menu styling*/

.navbar {
  background-color: var(--navbar-background);
  color: var(--menu-font-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-list {
  list-style-type: none;
  display: inline-block;
  padding: 20px 10px;
}

.nav-list .list-item {
  display: inline-block;
  padding: 20px 10px;
}

.navbar a {
  text-decoration: none;
  color: rgb(49, 17, 80);
}

.navbar a:hover {
  opacity: 0.5;
  border-bottom: 3px solid var(--yellow-color);
  padding-bottom: 3px;
}

.banner-image {
  background-image: url("./assets/images/bannerimage.png");
  height: 260px;
  background-size: cover;
  margin-bottom: 30px;
}

/* flex container body*/
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 15px 0;
}

.flex-right {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: 15px;
}

.flex-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  width: 25%;
  padding: 20px;
  border-right: 4px solid rgba(7, 138, 7, 0.979);
  color: var(--menu-font-color);
  font-weight: bold;
  font-size: 30px;
}
/* Bio image styling */
.bio-image {
  width: 70%;
  justify-self: flex-end;
  /* box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  margin-bottom: 25px;
  border-radius: 30%;
  padding: 10px 10px;
}

/* work showcase */
.flex-right .project {
  flex-grow: 1;
  border: 5px solid var(--project-border-color);
  font-family: fantasy;
}

.project-img {
  height: 50%;
  overflow: hidden;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
}

.project-description {
  font-size: small;
}

.content:hover {
  opacity: 0.90;
  color: gray;
}

h3 {
  margin-bottom: 5px;
}
.card {
  align-self: flex-end;
  background-color: var(--project-border-color);
  padding: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  border: 3px solid var(--yellow-color);;
}

.content {
  padding-right: 1rem;
  text-align: center;
  font-size: 18px;
  color: var(--menu-font-color);
  font-weight: bold;
}

/* contact me submenu */
.contact-item {
  justify-content: space-evenly;
}

.contact-item a {
  text-decoration: none;
  margin: auto;
  color: var(--menu-font-color);
  border-bottom: 3px solid var(--yellow-color);
  padding-bottom: 3px;
}
.contact-item a:hover {
  color: rgb(89, 89, 143);
  cursor:  pointer;
}

footer {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.icon {
  color: #51414F;
  padding: 20px;
  font-size: 35px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}
.icon:hover {
  opacity: 0.7;
}


/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (max-width: 760px) {
/* on tablets, set columns to only be 50% of the width and not grow */
.secondary-projects {
  flex: 0 0 50%;
  max-width: 50%;
}

.nav-list .list-item {
  display: flex;
  float: inline-end;
  /* padding: 20px 10px; */
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 15px 0;
}

.flex-left {
  min-width: 40%;
  border-right: 0;
  border-bottom: 4px solid rgba(7, 138, 7, 0.979);
  color: var(--menu-font-color);
  font-weight: bold;
  font-size: 30px;
}

/* select the last child to grow to full width if it has space to grow */
.secondary-projects:last-child {
  flex-grow: 1;
}
}
